@font-face {
  font-family: "CanelaLight";
  src:
    url("../fonts/Canela/CanelaLight.woff2"),
    url("../fonts/Canela/CanelaLight.woff"),
    url("../fonts/Canela/CanelaLight.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaRegular";
  src:
    url("../fonts/Helvetica/HelveticaRegular.woff2"),
    url("../fonts/Helvetica/HelveticaRegular.woff"),
    url("../fonts/Helvetica/HelveticaRegular.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaBold";
  src:
    url("../fonts/Helvetica/HelveticaBold.woff2"),
    url("../fonts/Helvetica/HelveticaBold.woff"),
    url("../fonts/Helvetica/HelveticaBold.otf");
  font-style: normal;
  font-display: swap;
}

